.home-container {
    display: flex;
    height: 83vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/home-background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 80%;
}

.home-tittle-container {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    z-index: 1;
}

.home-title > h3 {
    font-size: 7vh;
    font-weight: bold;
}

.home-subtitle > h5 {
    font-size: 2.2vh
}

.home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*===========================================================*/
@media only screen and (max-width: 768px) {
    .home-background {
        width: 90%;
        height: 80%;
    }

}
