
.quickbook-container{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 35vw;
    background-color: rgb(0, 0, 0 , 60%);
    height: 50vh;
    padding: 1rem;
    justify-content: space-evenly;
}

.item-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: row;
}